<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/artists/<%=@artist.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for ="artist[name]">name</label>
    <input type="text" name="artist[name]" value="<%=@artist.name%>">
    <label for ="artist[age]">age</label>
    <input type="text" name="artist[age]"value="<%=@artist.age%>">
    <label for ="artist[bio]">bio</label>
    <input type="text" name="artist[bio]" value="<%=@artist.bio%>"> 
    <input type="submit">
    </form>
</body>
</html>